@import 'styles.css';


p{
    line-height: 1em;
}
#deck{
    margin: 0 10vw;
    border-bottom: 0.1em solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
#deck-info-header{
    display: flex;
}
#deck-info-header h3{
    margin: auto 0;
}
#deck-name{
    font-size: 1.7em;
}
#cards-section{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 300px);
    grid-gap: 1em; */
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-flow: wrap;
    margin: 1em 10vw
}
.card{
    background-color: rgb(8, 43, 65);
    width: 300px;
    height: 300px;
    border-radius: 0.5em;
    box-sizing: border-box;

    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.card .inner{
    margin: 1em;

}
.card-front, .card-back{
    font-size: 1.5em;
    margin: 1em;
}
.card-back{
    display: none;
}

.card:hover {
    background-color: rgb(255, 0, 251);;
    .card-back{
        display: flex;
    }
    .card-front{
        display: none;
    }
}



@media screen and (max-width: 800px) {
    #cards-section{
        margin: 0;
    }
}
@media screen and (max-width: 560px){
    #cards-section{
        grid-template-columns: 1fr;
        /* grid-template-rows: repeat(30, 300px); */
    }
}