@import 'styles.css';

#main section{
    margin: 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 2em;
}
#main article{
    box-sizing: border-box;
    border-bottom: 0.1em solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
#main article:hover{
    background-color: rgb(9, 30, 43);
}
#main article .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}
#main article .inner h3, .meta{
    min-width: 33%;
    width: 33%;
}
#main article .inner .meta{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1024px) {
    #main{
        margin: 0;
    }
    #main section{
        margin: 0;
        row-gap: 1em;
    }
}